
params {
    sample_id="sampleId"
    fastq1=""
    fastq2=""
    host_fasta_index="no"
    metadataFile = ""
    comparisonFile = ""
    outDir = "result"
    pathogenTypes = "bacteria,virus,fungi,parasite"
    pathogen_db_path = "/mnt/data/henbio/project/bingyuanti/database/henbio"
    min_read_length = 60
    read_coverage_threshold = 0.8
    min_k2_reads = 10
    k2_minimum_hit_groups = 3
    min_unique_kmers = 800
    min_unique_kmers_fold = 10
    min_unique_kmers_rate = 0.1
    min_relative_abundance = 0
    min_map_quality = 30
    rush_parallel_number = 4
    plot_coverage = 1
    min_unique_reads = 5
    min_normalized_pathogen_abundance = 1
    min_base_coverage = 0.01
    min_sequence_coverage = 1
    control_samples_npa_method = "max"
    // merge_pathogens_type = 0

    bwt2_dehost_thread = 8
    bwt2_pathogen_thread = 4
    blast_pathogen_thread = 4
    k2_classify_thread = 8

    qc_and_dehost_max_run = 2
    kraken2_identification_max_run = 2
    kraken2_result_filter_max_run = 2
    bwt2_blast_verification_max_run = 2
    merge_pathogens_max_run = 2

    base_img = "$baseDir/images/henbio-pathogen-kits-v1.2.img"
    // If your project directory is not in the user home directory, you need to map it into the container, please refer to the settings below.
    container_options = '-B /home/bio/workflow/:/home/bio/workflow/'
}


profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
    }
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outDir}/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "${params.outDir}/report.html"
}

manifest {
    name = 'PathogenDectectKit'
    author = 'zhangzhining'
    // email = "zhangzn340@163.com"
    homePage = 'https://henbio.com'
    description = 'This is a pathogen dectection workflow.'
    mainScript = 'main.nf'
    version = '1.0.0'
}